.LogoFLV { 
    margin-top: 30px;
    margin-left: 35%;
    max-width: 38%;
    height: auto;
}


.menu__item {
    display: inline-block;
}

.menu__item::after {
    content: "";
    display: block;
    height: 3px;
    width: 0%;
    margin-bottom: 0px;
    background-color: #000;
    transition: width 0.4s;
}

.menu__item:hover::after {
    width: 100%;
}


a{
    font-size: 20px;
    color: black;
    text-align: left;
    display: inline;
    text-decoration: none;
}


* {
    font-family: 'Montserrat', sans-serif;
    padding: 0;
    margin: 0;
}

@font-face{
    font-family: 'Montserrat';
    src: url(Montserrat-ExtraLight.ttf);
}

.icone-menu, .icone-fermer {
    cursor: pointer;
    width: 30px;
    /* on position l'icone en haut à gauche */
    left: 30px;
    position: absolute;
    top: 30px;
}

.menu {
    background-color: white;
    color: black;
    margin: 0;
    padding-top: 80px;
    /* on positionne le menu à gauche sur toute la hauteur */
    bottom: 0;
    position: absolute;
    top: 0;
    /* on cache le menu */
    opacity: 0;
    transform: translateX(-100%);
    /* transition */
    transition: all .8s;
}

#h1 {
    margin-left: 50%;
}

#h5 {
    margin-left: 50%;
}

.visible {
    /* on affiche le menu */
    opacity: 1;
    transform: translateX(0%);
}


    li {
    list-style-type: none;
    padding: 5px 80px 5px 40px;
    }

