/* ----- INDEX ----- /*

/* on positionne le logo */
#LogoMiniFLV {
  position: absolute;
  right: 20px;
  max-width: 10%;
  height: auto;
  opacity: 0.7;
}

#bodyIndex {
  background: url(../img/BATFLV5.jpeg) no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  max-width: 100%;
  height: auto;
}

#BFLV {
  font-size: 60px;
  font-family: "Raleway", sans-serif;
  text-align: center;
  padding-top: 300px;
  opacity: 0.7;
}

@media all and (max-width: 1024px) {

  #LogoMiniFLV {
    max-width: 20%;
    margin-top: 18px;
  }
}


/* ----- HISTORY ----- */

/* on positionne le logo */
.LogoHFLV {
  margin-top: 30px;
  margin-left: 35%;
  max-width: 38%;
  height: auto;
}

/* modification du texte "Histoty" */
#history {
  text-align: center;
}

/* modification de textes */
#texte1 {
  margin-top: 200px;
  margin-left: 4%;
}

#texte2 {
  margin-top: 30px;
  margin-left: 45%;
}

#texte3 {
  margin-top: 30px;
  margin-left: 4%;
  margin-bottom: 30px;
}

#texte3,
#texte2,
#texte1 
{
  opacity: 0.9;
  padding: 10px;
  text-align: justify;
  width: 50%;
  background-color: black;
  z-index: -1;
}

/* modification de titres des paragraphes */
.titreH,
.texteH 
{
  color: white;
  font-size: 20px;
  margin: 10px;
}

/* on place la vidéo YT */
footer iframe {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
}

/* création du responsive de la page */


@media all and (max-width: 1024px) {

  #texte3,
  #texte2,
  #texte1 {
    width: 95%;
  }

  #texte2 {
    margin-left: 10%;
  }

  footer iframe {
    margin-left: 10%;
  }

  #history {
    margin-top: 50px;
    max-width: 100%;
    height: auto;
    margin-left: 20%;
    font-size: 50px;
  }

  .LogoHFLV {
    max-width: 85%;
    height: auto;
    margin-left: 19%;
    margin-top: 55px;
  }
}

/* ----- GALERIE ----- */

.LogoFLVG {
  margin-top: 30px;
  margin-left: 35%;
  max-width: 38%;
  height: auto;
}

.boutonTri {
  display: flex;
  width: 100%;
  justify-content: space-around;
  flex-direction: row;
}

#texteGallery {
  margin-top: 50px;
  max-width: 100%;
  height: auto;
  text-align: center;
}

#galerieImages {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.images {
  margin: 5%;
  object-fit: cover;
  width: 90%;
  height: auto;
}

/* Stylisation zone commentaire */
#zonecommentaire {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

#zonepseudo,
#zonetext
{
  border-radius: 40px;
}


div.message {
  background-color: #60e2b9;;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  justify-content: space-around;
}

@font-face {
  font-family: "Montserrat";
  src: url(Montserrat-ExtraLight.ttf);
}

@media screen and (max-width: 1300px) {
  #galerieImages,
  #zonecommentaire 
{
  grid-template-columns: 1fr 1fr;
}

}

@media screen and (max-width: 980px) {
    #galerieImages,
    #zonecommentaire   
  {
    grid-template-columns: 1fr;
  }

  #zonecommentaire {
    margin-left: 15%;
  }

  .boutonTri {
    display: flex;
    width: 100%;
    align-items: center;
    flex-direction: column;
  }

  #bouttonTout,
  #bouttonOut,
  #bouttonInt
  {
    width: 60px !important;
    height: auto !important;
  }

  #texteGallery {
    font-size: 50px;
  }
  
  .LogoFLVG {
    max-width: 70%;
    height: auto;
    margin-left: 19%;
    margin-top: 55px;
  }

  #zonepseudo,
  #zonetext,
  #zonebouton
  {
    width: 700px;
    height: 150px;
    font-size: 50px;
    text-align: center;
  }

  #zonebouton {
    margin: 0px 0 0px 0px;
  }

  .pseudo,
  .commentaire,
  .date,
  a.delete
  {
    font-size: 35px;
  }
}

/* ----- BLOG ---- */

#LogoFLV {
  margin-top: 30px;
  margin-left: 31%;
  max-width: 38%;
  height: auto;
}

#blogTitre,
#blogST {
  text-align: center;
}

#blogArticles {
  display: grid;
  width: 100%;
  grid-template-columns: 1fr 1fr 1fr;
}

#blogTitre {
  font-size: 40px;
}

#blogST{
  font-size: 25px;
}

.blogImages {
  width: 90%;
  height: auto;

}

.blogText,
.blogPara,
.blogImages
{
  margin: 20px;
}

.blogBtnMoins{
  display: none;
}

.contenerArticle {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}

@media (max-width : 1200px ) {
  #blogArticles {
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width : 980px ) {
  .contenerArticle {
    margin-top: 100px;
  }

  #blogArticles {
    grid-template-columns: 1fr;
  }

  #blogTitre {
    font-size: 50px;
  }

  #blogST {
    text-align: center;
    font-size: 30px;
  }

  #blogTitre,
  #blogST
  {
    margin-top: 25px;
  }

  #LogoFLV {
    max-width: 75%;
    margin-left: 18%;
    margin-top: 55px;
  }

  #formBlog {
    margin-top: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  input.placement,
  input#new_image,
  textarea#contenu
  {
    width: 700px;
    height: 150px;
    border-radius: 40px;
    font-size: 40px;
    text-align: center;
    margin-top: 0px !important;
  }

  .creaArt {
    font-size: 60px;
    font-style: oblique;
  }
}

/* ---- CONTACT ---- */

/* on positionne le logo */
.LogoFLVContact {
  margin-left: 35%;
  max-width: 38%;
  height: auto;
}

/* intégration d'u background et ajout de ses attributs */
#bodyContact {
  background: url(../img/Image_de_fond.jpg) no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  max-width: 100%;
  height: auto;
  padding-top: 75px;
  overflow-x: hidden;
}

/* placement "contact" */
#titreContact {
  margin-left: 48%;
  margin-right: 48%;
  margin-top: 1%;
}

/* modification du texte "fill(...)account" */
#sousTitre {
  margin-left: 40%;
  margin-top: 70px;
  font-size: 25px;
  text-decoration: underline;
  font-stretch: expanded;
}

/* placement du formulaire */
.formulaire {
  margin-left: 40%;
}

/* placement des messages d'avertissements */
.zone-message1,
.zone-message2,
.zone-message3,
.zone-message4 {
  font-size: 15px;
  margin-top: 2%;
}

/* formation d'un block pour le formulaire */
label,
input,
textarea {
  display: block;
  height: 50px;
  width: 300px;
  resize: none;
}

/* on positionne les bulles */
.medias {
  list-style-type: none;
  position: absolute;
  right: 3.3%;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

/* on donne la forme souhaitée aux bulles */
.bulle {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border: 1px solid #f1f1f1;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 0;
  background: #f1f1f1;
  cursor: pointer;
  position: relative;
}

/* position des logos */
.logo-medias {
  width: 45px;
  height: auto;
}

@keyframes rotating {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* création du responsive de la page */
@media (max-width: 1024px) {

  .LogoFLVContact {
    max-width: 80%;
    margin-left: 14%;
  }

  #titreContact {
    font-size: 50px;
    margin-left: 40%;
  }

  #sousTitre {
    font-size: 30px;
    margin-left: 20%;
    margin-top: 20px;
  }

  /* on positionne les bulles */
  .medias {
    top: 95%;
    position: fixed;
    right: 0%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    width: 100%;
  }

  /* on donne la forme souhaitée aux bulles */
  .bulle {
    width: 130px;
    height: 130px;
    border-radius: 50%;
    border: 1px solid #f1f1f1;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 1px;
    background: #f1f1f1;
    cursor: pointer;
    position: relative;
  }

  .logo-medias {
    width: 90px;
    height: auto;
  }

  /* placement "contact" */
  #h1 {
    margin-left: 38%;
    margin-right: 58%;
    margin-top: 1%;
  }

  /* modification du texte "fill(...)account" */
  #h5 {
    margin-left: 25%;
    margin-top: 50px;
    font-size: 25px;
    text-decoration: underline;
    font-stretch: expanded;
  }

  .zone-message {
    font-size: 15px;
    margin-left: 32%;
    margin-top: 5%;
  }

  /* placement du formulaire */
  .formulaire {
    margin-left: 26%;
    width: 300px;
    height: 1845px;
  }

  label, 
  input, 
  textarea 
  {
  font-size: 50px;
  margin-top: 5px;
  min-height: 150px;
  min-width: 500px;
  border-radius: 40px;
  text-align: center;
  }

  #bouton_validation {
    margin: 100px 0px 0px 0px;  
  }

  .zone-message1,
  .zone-message2,
  .zone-message3,
  .zone-message4 
  {
    font-size: 30px;
    margin-top: 2%;
    text-align: center;
    margin-left: 150px;
  }


}

/* --- SE CONNECTER --- */

video {
  position: fixed;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -10;
  transform: translateX(-50%) translateY(-50%);
  filter: blur(15px);
  background-size: cover;
  transition: 1s;
}

.login-form {
  width: 340px;
  margin: 300px auto;
}
.login-form form {
  position: fixed;
  width: 300px;
  height: 400px;
  border-radius: 34px;
  background: #ffffff;
  opacity: 0, 5;
  padding: 30px;
}
#connexion {
  margin: 0 0 15px;
  margin-left: 25%;
}
.btnConnexion {
  font-size: 15px;
  font-weight: bold;
  margin-left: 50px !important;
}

.emailConnexion,
.passwordConnexion,
.btnConnexion {
  margin: 50px auto 0 auto;
  min-height: 50px;
  min-width: 200px;
  border-radius: 10px;
}

.emailConnexion,
.passwordConnexion,
strong.erreurConnexion {
  font-size: 25px;
}

strong.erreurConnexion {
  color: red;
}

@media all and (max-width: 1270px) {
  .login-form {
    margin: 300px 0px 0px 10%;
  }
  .login-form form {
    position: fixed;
    width: 700px;
    height: 750px;
    border-radius: 34px;
    background: #ffffff;
    padding: 50px;
  }
  #connexion {
    margin: 0 0 15px;
    margin-left: 40%;
  }
  .btnConnexion {
    font-size: 35px;
    font-weight: bold;
    min-width: 500px;
    margin-left: 94px !important;
  }
  .emailConnexion,
  .passwordConnexion,
  .btnConnexion {
    margin: 50px auto 0 auto;
    min-height: 150px;
    min-width: 500px;
    border-radius: 10px;
  }
  .emailConnexion,
  .passwordConnexion {
    font-size: 42px;
  }

  strong.erreurConnexion {
    font-size: 30px;
    color: red;
  }
}

/* ---AJOUT D'UN MENU BURGER SUR LES PAGES--- */

/* ajout de lignes lorsque la souris passe sur les textes du menu burger */
.menu__item {
  display: inline-block;
}

.menu__item::after {
  content: "";
  display: block;
  height: 3px;
  width: 0%;
  margin-bottom: 0px;
  background-color: #000;
  transition: width 0.4s;
}

.menu__item:hover::after {
  width: 100%;
}

/* modification des textes du menu burger */
a {
  font-size: 20px;
  color: black;
  text-align: left;
  display: inline;
}

.bouttonModeD {
  padding: 5px 80px 5px 40px;
}

/* appliquation de paramètres typographique et d'emplacement */
* {
  font-family: "Montserrat", sans-serif;
  padding: 0;
  margin: 0;
}

/* on va chercher la typographie souhaitée */
@font-face {
  font-family: "Montserrat";
  src: url(Montserrat-ExtraLight.ttf);
}

.icone-menu,
.icone-fermer {
  cursor: pointer;
  width: 30px;
  /* on position l'icone en haut à gauche */
  left: 30px;
  position: absolute;
  top: 30px;
}

.menu {
  background-color: white;
  color: black;
  margin: 0;
  padding-top: 80px;
  /* on positionne le menu à gauche sur toute la hauteur */
  bottom: 0;
  position: absolute;
  top: 0;
  z-index: 1;
  /* on cache le menu */
  opacity: 0;
  transform: translateX(-100%);
  /* transition */
  transition: all 0.8s;
}

.visible {
  /* on affiche le menu */
  opacity: 0.8;
  transform: translateX(0%);
}

li a {
  text-decoration: none;
  color: black;
}

li {
  list-style-type: none;
  padding: 5px 80px 5px 40px;
}

/* création du responsive de la page */
@media all and (max-width: 480px) {
  body {
    float: none;
  }
}

@media all and (max-width: 1024px) {
  .icone-menu,
  .icone-fermer {
    cursor: pointer;
    width: 80px;
    /* on position l'icone en haut à gauche */
    left: 30px;
    position: absolute;
    top: 30px;
  }
  .menu {
    background-color: white;
    color: black;
    margin: 0;
    padding-top: 80px;
    z-index: 1;
    /* on positionne le menu à gauche sur toute la hauteur */
    bottom: 0;
    position: absolute;
    top: 0;
    /* on cache le menu */
    opacity: 0;
    transform: translateX(-100%);
    /* transition */
    transition: all 0.8s;
    height: 1000px;
  }
  .visible {
    /* on affiche le menu */
    opacity: 1;
    transform: translateX(0%);
    height: 1000px;
  }
  .menu__item {
    font-size: 60px;
    color: black;
    text-align: left;
    display: inline;
  }
  li {
    list-style-type: none;
    padding: 10px 20px 25px 20px;
  }
}


/*-- ON STYLISE LES BOUTONS DU SITE --*/
.buttonCommun {
  outline: none;
  height: 40px;
  text-align: center;
  width: 130px;
  border-radius: 40px;
  background: #fff;
  border: 2px solid #1ecd97;
  color: #1ecd97;
  letter-spacing: 1px;
  font-size: 12px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.25s ease;
  margin: 20px 0 2px 40px;
}
.buttonCommun:hover {
  color: white;
  background: #1ecd97;
}
.buttonCommun:active {
  letter-spacing: 2px;
  letter-spacing: 2px;
}

.onclic {
  width: 40px;
  border-color: #bbbbbb;
  border-width: 3px;
  font-size: 0;
  border-left-color: #1ecd97;
}

.onclic:hover {
  color: #1ecd97;
  background: white;
}

@media (max-width: 1000px) {
  .buttonCommun{
    font-size: 50px;
    min-height: 150px;
    min-width: 500px;
  }

  button.buttonModeD.buttonCommun {
    min-height: 150px;
    min-width: 300px;
    margin-top: 100px;
    margin: 0px 0 2px 40px;
  }
}

/* boutton dark et light mode */
.light{
  background: white !important;
  color: black !important;
}

.dark {
  background: black !important;
  color: white !important;
}
